body{
    background-image: linear-gradient(to right, #2e0100 , #a10703);
    margin:40px 0px 0px 40px;
    text-align:center;
    font-family: open sans;
    color: #ba7806;
}

img{
    width:100%;
}

section{
    width: 30%;
    margin: 30px 450px;
}

input:focus {
    background-color: #90d4c4;
  }

  input{
    border: groove;
  }

  button{
    background-color: #806008;
    border: 1px solid;
    padding: 2px 20px;
    border-radius: 3px;
  }

  button focus{
    background-color: blue;
  }