body{
    background-color: #cf0a11;
    margin:40px 0px 0px 40px;
    text-align:center;
    font-family: open sans, sans-serif;
    color: #ffffff;
}

img{
    width:100%;
}

section{
    width: 20%;
    margin: 0 auto;
}

  